.sixteen.columns
  .offset-by-five
    %h1= "Thinker of #{link_to 'Things', musings_url}".html_safe
  .offset-by-six
    %h2= "Maker of #{link_to 'Stuff', projects_url}".html_safe
  .offset-by-seven
    =image_tag asset_path('wizard.svg'), size: '125x125'

.eight.columns.offset-by-four
  %p= "Please forgive the appearance of my site - I'm building this on my own server which is turning out to be a great learning experience."
  %p
    ps.
    #{link_to "Dokku", "http://progrium.com/blog/2013/06/19/dokku-the-smallest-paas-implementation-youve-ever-seen", :target => "_blank"} rocks!
    
