 <div class="desc">
    <h4>Resume</h4>
      <ul class="tabs">
                    <li><a href="#web-development" class="active">Web</a></li>
                    <li><a href="#sales">Sales</a></li>
                    <li><a href="#operations">Operations</a></li>
                    <li><a href="#analysis">Analysis</a></li>
                    <li><a href="#project-management">Project Management</a></li>
                    <li><a href="#start-up">Start-up</a></li>
                </ul>
                <ul class="tabs-content">
                    <li class="active" id="web-development">
                      <%= render partial: "resume/web_development" %>
                    </li>
                    <li class="" id="sales">
                      <%= render partial: "resume/sales" %>
                    </li>
                    <li class="" id="operations">
                      <%= render partial: "resume/operations" %>
                    </li>
                    <li class="" id="analysis">
                      <%= render partial: "resume/analysis" %>
                    </li>
                    <li class="" id="project-management">
                      <%= render partial: "resume/project_management" %>
                    </li>
                    <li class="" id="start-up">
                      <%= render partial: "resume/start_up" %>
                    </li>
                </ul>
      <!-- What do I mean by "full specturm" employee? Well I'm a Technologist with a
      background in analysis, sales, customer service, project management, operations, 
      and I've even founded a startup. If you need more than another cog in your machine, 
      contact me, a full specturm employee.--> 
      
      
    </p>
</div>
  <h4>Work</h4>
    <ul class="personalDev">
        <li>
          <span class="title">Consultant</span>
          <span class="time">Oct 2014 - Present</span><br />
          <span>Snippet Interactive </span>
          <span class="time">New York, New York</span>
        </li>
        <li>
          <span class="title">Contract Software Developer</span>
          <span class="time">May 2014 - Jun 2014</span><br />
          <span>Fitmoo </span>
          <span class="time"> New York, New York</span>
        </li>
        <li>
          <span class="title">Founder</span>
          <span class="time">Jan 2013 - August 2013</span><br />
          <span>Kitten Tested | PureNoms </span>
          <span class="time"> New York, New York</span>
        </li>
        <li>
          <span class="title">Commercial Real Estate Analyst</span>
          <span class="time">Feb 2010 - Dec 2013</span><br />
          <span>Tener Consulting </span>
          <span class="time"> New York, New York</span>
        </li>
        <li>
          <span class="title">Assistant Tournament Director</span>
          <span class="time">May 2008 - May 2009</span><br />
          <span>Women's Metropolitan Golf Association </span>
          <span class="time"> Tarrytown, New York</span>
        </li>
        <li>
          <span class="title">Closing Specialist</span>
          <span class="time">Feb 2007 - Mar 2008</span><br />
          <span>CountryWide Commercial Real Estate Finance </span>
          <span class="time"> New York, New York</span>
        </li>
        <li>
          <span class="title">Lead Broker Representative </span>
          <span class="time">Sep 2005 - Feb 2007</span><br />
          <span>GreenPoint Mortgage </span>
          <span class="time"> Stamford, Connecticut</span>
        </li>
    </ul>

<h4>Education</h4>
  <ul class="personalDev">
    <li>
      <span class="title">Angular Mentorship</span>
      <span class="time"> Oct 2014 - Nov 2014 </span><br />
      <span>Thinkful </span>
      <span class="time"> New York, New York</span>
    </li>
    <li>
      <span class="title">Web Development Immersive</span>
      <span class="time"> Dec 2013 - Mar 2014 </span><br />
      <span>General Assembly </span>
      <span class="time"> New York, New York</span>
    </li>
    <li>
      <span class="title">Backend Web Development</span>
      <span class="time"> Aug 2013 - Nov 2014 </span><br />
      <span>General Assembly </span>
      <span class="time"> New York, New York</span>
    </li>
    <li>
      <span class="title">B.A. Social Sciences</span>
      <span class="time">Jan 2010 - May 2011</span><br />
      <span>College of New Rochelle </span>
      <span class="time"> New Rochelle, New York</span>
    </li>
    <li>
      <span class="title">Economics</span>
      <span class="time">Sept 2001 - Dec 2004</span><br />
      <span>Sacred Heart University</span>
      <span class="time">Fairfield, Connecticut</span>
    </li>
</ul>

<h4>Skills &amp; Attributes.</h4>
<ul class="skills">
    <li>
        <span class="skill">Ruby and Rails</span>
        <div class="rating">
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
        </div>
        <div class="description"></div>
    </li>
    <li>
        <span class="skill">HTML5 &amp; CSS3</span>
        <div class="rating">
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
        </div>
        <div class="description"></div>
    </li>
    <li>
        <span class="skill">Javscript &amp; jQuery</span>
        <div class="rating">
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
        </div>
        <div class="description"></div>
    </li>
    <li>
        <span class="skill">Angular &amp; Backbone</span>
        <div class="rating">
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
        </div>
        <div class="description"></div>
    </li>
        <li>
        <span class="skill">Mac OSx &amp; Ubuntu</span>
        <div class="rating">
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
        </div>
        <div class="description"></div>
    </li>
        <li>
        <span class="skill">Windows &amp; MS Office</span>
        <div class="rating">
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="empty"></span>
        </div>
        <div class="description"></div>
    </li>
    <li>
      <span class="skill">Java &amp; Swift</span>
        <div class="rating">
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
        </div>
        <div class="description"></div>
    </li>
    <li>
      <span class="skill">Hosting &amp; Databases</span>
        <div class="rating">
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="filled"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
        </div>
        <div class="description"></div>
    </li>
  </ul>

<script type="text/javascript">
  $(document).ready(function() {
    activeNav('.resume')
  });
</script>
