<div id='navbackground'>
	<nav class='container primary'>
		<div class='offset-by-four'>
			<ul>
				<li><%= link_to("Home", controller: "welcome", action: "index") %></li>
				<li><%= link_to("Musings", controller: "musings", action: "index") %></li>
				<!-- <li><%= link_to("Interests", controller: "interests", action: "index") %></li> -->
				<li><%= link_to("Professional", controller: "projects", action: "index") %>
					<ul>
						<li><%= link_to("Portfolio", controller: "projects", action: "index") %></li>
						<!-- <li><#%= link_to("Resume", controller: "welcome", action: "show") %></li> -->
					</ul>
				</li>
		</div>
	</nav>
</div>
