<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
<head>
  <title>Mike Tener</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
<!-- CSS
  ================================================== -->
	<%= stylesheet_link_tag    'application', media: 'all' %>
<!-- Javascript
  ================================================== -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="profile">
	<div class="wrapper">
		<%= render partial: "shared/nav" %>
		<div class="content">
			<div class="info">
				<%= render partial: "shared/header" %>
				<div class = "innerContainer">
          <%= yield %>
        </div><!-- innerConatiner-->
			</div> <!-- info -->
			<%= render partial: "shared/contact" %>
		</div> <!-- /content -->
		<%= render partial: "shared/footer" %>
	</div><!-- /wrapper -->	
</body><!-- /profile -->
</html>
